body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #022ea8dc, #80eaf1b2);
    color: #333;
}

header {
    background-color: #290464f5;
    color: rgb(180, 175, 247);
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(2, 14, 59, 0.63);
}

header h1 {
    margin: 0;
    font-size: 30px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: rgb(219, 217, 247);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(21, 1, 110, 0.1);
}

main h2 {
    text-align: center;
    color: #1f0e6d;
    margin-bottom: 35px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1a075c;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #180142;
    box-shadow: 0 0 5px rgba(90, 99, 224, 0.5);
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 20px;
    margin-bottom: 10px;
}

.form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group-inline label {
    margin-right: 15px;
}

.form-group button,
input[type="submit"],
input[type="reset"] {
    background-color: #0f0344;
    color: rgb(200, 195, 250);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.form-group button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #022d52;
}


footer {
    background-color: #11015c;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 20px;
    box-shadow: 0px -4px 6px rgba(83, 212, 235, 0.1);
}

@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1rem;
    }
}
